:root {
	--link--color: #b1d4ff;
}
:focus {
	outline: 0;
}
input::-webkit-inner-spin-button {
	display: none;
}
body, html, #image, #image-ghost, #settingsWrap {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	font-family: Roboto, sans-serif;
	overflow: hidden;
	background: #224;
}
body.loading {
	background-image: url(../img/loading.svg);
}
/*noinspection CssOptimizeSimilarProperties*/
body, #image {
	background-position: center;
	background-repeat: no-repeat;
}
#image, #image-ghost {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	background-size: cover;
	background-position: center center;
}
#image-ghost {
	z-index: -1;
	display: none;
	opacity: .3;
	background-size: cover !important;
}
#image, #fade-layer {
	opacity: 0;
	transition: opacity .5s ease-out;
}
#fade-layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
#fade-layer > * {
	background: rgba(0, 0, 0, 0.675);
}
#show-settings-button {
	position: absolute;
	left: 10px;
	bottom: 10px;
	transition: left 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#show-settings-button[disabled] {
	color: #fff !important;
	background: rgba(0, 0, 0, 0.675) !important;
	opacity: .5;
}
#data {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 2;
	padding: 10px 30px 5px;
	box-sizing: border-box;
	border-radius: 50px;
	max-width: 50%;
	color: #fff;
	text-align: right;
}
#data h1 {
	margin: 0;
	font-size: 24px;
	line-height: 20px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	height: 1.1em;
}
#data h1 a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	font-weight: normal;
	line-height: .8em;
	top: .1em;
	transition: top .2s linear;
}
#data h1 a:after {
	content: '';
	display: block;
	background-color: #fff;
	height: 2px;
	width: 100%;
	opacity: 0;
	position: absolute;
	z-index: -1;
	left: 0;
	top: .9em;
	transition: opacity .2s linear;
}
#data h1 a:hover {
	top: 0;
}
#data h1 a:hover:after {
	opacity: 1;
}
#data p {
	margin: 0;
	font-size: 14px;
}
#data p:not(:last-child) {
	margin-bottom: 5px;
}
#data p > span.visible:after {
	content: " • ";
}
#settingsWrap {
	position: absolute;
	z-index: 3;
	left: calc(-25%);
	width: 25%;
	box-sizing: border-box;
	padding: 10px;
	opacity: 1;
	color: #fff;
	box-shadow: none;
	background: rgba(0, 0, 0, 0.8);
	transition: left 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.6s linear;
}
#settingsWrap.open {
	left: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	border-right-width: 0;
	transition: left 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.6s linear;
}
#settingsWrap.open ~ #fade-layer #show-settings-button {
	left: calc(25% + 10px);
}
#settings {
	height: 100%;
	overflow-y: scroll;
}
#settings .collapsible {
	border-color: rgba(255, 255, 255, 0.3);
	font-size: 15px;
}
#settings .collapsible-header {
	background: rgba(255, 255, 255, 0.1);
	border-bottom-color: rgba(255, 255, 255, 0.3);
}
#settings .collapsible-header.active {
	background: rgba(255, 255, 255, 0.3);
	border-bottom-color: transparent;
}
#settings .collapsible-body {
	padding: 10px;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}
#settings .collapsible-body > * {
	padding: 0;
}
#settings .select-wrapper .caret {
	display: none;
}
#settings .select-wrapper .select-dropdown {
	margin-bottom: 10px;
}
#settings .input-field:last-child .select-dropdown {
	margin-bottom: 0;
}
#settings .dropdown-content {
	background-color: rgba(0, 0, 0, 0.95);
}
#settings .dropdown-content li.optgroup span {
	opacity: .5;
}
#settings .dropdown-content li:hover:not(.selected):not(.optgroup) {
	background: rgba(255, 255, 255, 0.1);
}
#settings .dropdown-content li.selected {
	background: rgba(255, 255, 255, 0.2);
}
#settings .dropdown-content li span {
	color: #fff;
}
#settings a {
	color: var(--link--color);
}
#settings header {
	font-size: 26px;
	text-align: center;
	margin: 0 0 10px;
}
#settings .collapsible-body:not(:last-child) {
	margin-bottom: 10px;
}
#settings .collapsible-body p:not(:last-child) {
	margin: 0 0 10px;
}
#settings .collapsible-body h2 {
	font-size: 24px;
	margin: 0 0 5px;
}
#settings .collapsible-body .switch:not(:last-child) {
	margin-bottom: 15px;
}
#settings .collapsible-body .switch label {
	color: white;
}
#settings .collapsible-body .input.systags {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
#settings .collapsible-body .input.systags label {
	display: block;
	flex: 1 1 auto;
	margin: 3px;
}
#settings .collapsible-body .input.systags label input {
	display: none;
}
#settings .collapsible-body .input.systags label input ~ span {
	display: block;
	text-align: center;
	width: 100%;
	cursor: pointer;
	position: relative;
	color: #afa;
	border: 1px solid currentColor;
	padding: 1px 10px;
	border-radius: 20px;
	margin: 2px;
	text-transform: uppercase;
	font-size: 12px;
}
#settings .collapsible-body .input.systags label input:not(:checked) ~ span {
	color: #faa;
	text-decoration: line-through;
}
#settings .collapsible-body .input.usefilter {
	margin: 5px 0;
}
#settings .collapsible-body .row {
	margin: 25px 0 0;
}
#settings .collapsible-body select, #settings .collapsible-body input[type="number"] {
	margin-bottom: 10px;
}
#settings .collapsible-body select {
	color: #fff;
	display: block;
	margin: 5px auto;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid grey;
	padding: 4px;
	width: 100%;
	box-sizing: border-box;
}
#settings .collapsible-body select.initialized {
	display: none;
}
#settings .collapsible-body select optgroup, #settings .collapsible-body select option {
	color: #fff;
	background: black;
}
#settings footer {
	font-size: 14px;
	text-align: center;
	margin: 20px 0 0;
	opacity: .8;
}
#settings footer #disp-version:empty {
	display: none;
}
#tag-settings p:nth-last-child(2) {
	margin-bottom: 0 !important;
}
#tag-settings .re-request {
	padding: 0 5px;
	margin: 5px 0;
	color: #ffa;
	border-left: 2px solid;
}
#tag-settings #filter-id.hidden, #tag-settings #filter-id.hidden + #filter-id-select {
	display: none;
}
#tag-settings #signin-filter.nope {
	cursor: help;
	text-decoration: line-through;
	opacity: .5;
}
/* Scrollbar */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:active {
	background-color: #fff;
}
/* First run dialog */
#dialog {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: default;
	user-select: none;
	transition-property: transform, opacity;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	display: flex;
	align-items: center;
	justify-content: center;
}
#dialog.gtfo {
	transform: scale(3);
	opacity: 0;
}
#dialog-inner {
	font-family: sans-serif;
	font-size: 2em;
}
#dialog-inner button {
	border: 0;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	border-radius: 5px;
	font-size: 30px;
	font-family: sans-serif;
	padding: 10px;
	cursor: pointer;
	transition: background-color .2s linear;
}
#dialog-inner button:hover {
	background: rgba(255, 255, 255, 0.2);
}
#dialog-inner button:active {
	background: rgba(255, 255, 255, 0.4);
}
