{
	"root": true,
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
		"jquery": true
	},
	"rules": {
		"no-unused-vars": "warn",
		"no-console": "off"
	},
	"globals": {
		"chrome": true,
		"browser": true,
		"rxjs": true
	}
}
